    
    <div class="grid sm:grid-cols-1 md:grid-cols-3 gap-4">
        {{!--  CARD BLOCK WITH PODCAST INFO --}}
        {{#each podcasts}}
        <div class="md:max-w-sm flex flex-col items-center rounded overflow-hidden shadow-lg hover:shadow-xl">
            <img class="w-32 mt-4" src="{{image}}" alt="Sunset in the mountains">
            <div class="px-6 py-4">
                <div class="font-bold text-xl text-center mb-2" id="title{{id}}">{{title}}</div>
                <p class="description">{{description}}</p>
            </div>
            <div>
                <span class="inline-block px-1 py-1 text-sm font-semibold text-blue-700 hover:text-blue-900  mr-2"><a href="#">iTunes</a></span>
                <span class="inline-block px-1 py-1 text-sm font-semibold text-blue-700 hover:text-blue-900 mr-2"><a href="{{RSS}}">RSS</a></span>
                <span class="inline-block px-1 py-1 text-sm font-semibold text-blue-700 hover:text-blue-900"><a href="{{link}}">Website</a></span>
            </div>

            <a href="/addCollectionForm" class="transition duration-500 ease-in-out cursor-pointer rounded bg-blue-500 hover:bg-blue-400 px-3 py-1 my-4 text-white text-sm" id="{{id}}">Add to Collection</a>
        </div>
        {{/each}}
    </div>
